html, body {
  margin: 0;
  background: #222;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

  .button
{
    font-size: 14px;
    color: green;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color:transparent;
}

.logo {
  height: 50px;
  padding: 5px 0;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 22px;

  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #FFFFFF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #FFFFFF;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.load {
  animation: slide 2s;
  -moz-animation: slide 2s;
  -webkit-animation: slide 2s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 30s infinite;
  -moz-animation: slide 30s infinite;
  -webkit-animation: slide 30s infinite;
  animation-timing-function: ease-in-out;
  background-image: url('../images/situps.jpg');
}

.content {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.principal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  letter-spacing: 5px;
}

.principal h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.principal p {
  font-size: 20px;
}



/* #SLIDESHOW {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slide 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url('../images/class.jpg');
} */

@keyframes slide {
  /* 0% {
    background-image: url('../images/gym.jpg');
  }
  20% {
    background-image: url('../images/gym.jpg');
  }
  20.01% {
    background-image: url('../images/treadmill.jpeg');
  }
  40% {
    background-image: url('../images/treadmill.jpeg');
  }
  40.01% {
    background-image: url('../images/weights.jpeg');
  }
  60% {
    background-image: url('../images/weights.jpeg');
  }
  60.01% {
    background-image: url('../images/lifting.jpeg');
  }
  80% {
    background-image: url('../images/lifting.jpeg');
  }
  80.01% {
    background-image: url('../images/class.jpg');
  }
  100% {
    background-image: url('../images/class.jpg');
  } */
  20% {
    background-image: url('../images/stretching.jpg');
  }
  40% {
    background-image: url('../images/gymshark.jpg');
  }
  60% {
    background-image: url('../images/cycling.jpg');
  }
  80% {
    background-image: url('../images/weights.jpg');
  }
  100% {
    background-image: url('../images/situps.jpg');
  }
}

@-moz-keyframes slide {
  /* 0% {
    background-image: url('../images/gym.jpg');
  }
  20% {
    background-image: url('../images/gym.jpg');
  }
  20.01% {
    background-image: url('../images/treadmill.jpeg');
  }
  40% {
    background-image: url('../images/treadmill.jpeg');
  }
  40.01% {
    background-image: url('../images/weights.jpeg');
  }
  60% {
    background-image: url('../images/weights.jpeg');
  }
  60.01% {
    background-image: url('../images/lifting.jpeg');
  }
  80% {
    background-image: url('../images/lifting.jpeg');
  }
  80.01% {
    background-image: url('../images/class.jpg');
  }
  100% {
    background-image: url('../images/class.jpg');
  } */
  20% {
    background-image: url('../images/stretching.jpg');
  }
  40% {
    background-image: url('../images/gymshark.jpg');
  }
  60% {
    background-image: url('../images/cycling.jpg');
  }
  80% {
    background-image: url('../images/weights.jpg');
  }
  100% {
    background-image: url('../images/situps.jpg');
  }
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade-in.four {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#container {
position: fixed;
width: 30%;
 height:30%;
 top: 50%;
 left: 50%;
 margin-top: -140px;
 margin-left: -170px;
 background: #444;
 opacity:0.75;
 border-radius: 3px;
 border: 1px solid #444;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
 -webkit-animation-name: bounceIn;
 -webkit-animation-fill-mode: both;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-timing-function: linear;
 -moz-animation-name: bounceIn;
 -moz-animation-fill-mode: both;
 -moz-animation-duration: 1s;
 -moz-animation-iteration-count: 1;
 -moz-animation-timing-function: linear;
 animation-name: bounceIn;
 animation-fill-mode: both;
 animation-duration: 1s;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}

form {
 margin: 0 auto;
 margin-top: 20px;
}

label {
 color: #555;
 display: inline-block;
 margin-left: 18px;
 padding-top: 10px;
 font-size: 14px;
}

p a {
 font-size: 11px;
 color: #aaa;
 float: right;
 margin-top: -13px;
 margin-right: 20px;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 transition: all .4s ease;
}

p a:hover {
 color: #555;
}

input {
 font-family: "Helvetica Neue", Helvetica, sans-serif;
 font-size: 12px;
 outline: none;
}
input::placeholder{
  font-family: 'Oswald',sans-serif;
  font-size: 14px;
}

input:focus::placeholder {
  color: transparent;
}
input[type=text],
input[type=password] {

 color: #777;
 padding-left: 10px;
 margin: 10px;
 margin-top: 12px;
 margin-left: 18px;
 width: 290px;
 height: 35px;
 border: 1px solid #fff;
 border-radius: 2px;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 transition: all .4s ease;
}

input[type=text]:hover,
input[type=password]:hover {
 border: 1px solid #b6bfc0;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=text]:focus,
input[type=password]:focus {
 border: 1px solid #a8c9e4;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
 display: inline-block;
 background: #ecf2f5;
 width: 100%;
 height: 69px;
 margin-top: 20px;
 box-shadow: inset 0 1px 1px #444;
 border-top: 1px solid #444;
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
 background-color:transparent
}

input[type=checkbox] {
 margin-left: 20px;
 margin-top: 0px;
 padding-top: 0px;
}

.check {

 margin-left: 3px;
 font-size: 14px;
 color: #fff;

}


#lower a{
margin-bottom: 0px;
padding-bottom: 0px;
  color: green;
}

input[type=submit] {
 margin-right: 20px;
 margin-top: 20px;
 width: 80px;
 height: 30px;
 font-size: 14px;

 font-family: 'Oswald', sans-serif;
 color: #fff;
 background-color: #55d6aa; /*IE fallback*/
 background-image: -webkit-gradient(linear, left top, left bottom, from(#55d6aa), to(#55d6aa));
 background-image: -moz-linear-gradient(top left 90deg, #55d6aa 0%, #55d6aa 100%);
 background-image: linear-gradient(top left 90deg, #55d6aa 0%, #55d6aa 100%);
 border: 1px solid #55d6aa;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
 cursor: pointer;
}

input[type=submit]:hover {
 background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
 background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
 background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
 background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
 background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
 background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}
